.full-width.customer-logos-container
  %h2
    Used by more than 100,000 organizations around the globe
  .flex-container.space-between.logos-container
    %img.logo{ src: "/images/home/bayer.svg", alt: "gitlab customer logo" }
    %img.logo{ src: "/images/home/nasa.svg", alt: "gitlab customer logo" }
    %img.logo{ src: "/images/home/sony.svg", alt: "gitlab customer logo" }
    %img.logo{ src: "/images/home/comcast.svg", alt: "gitlab customer logo" }
    %img.logo{ src: "/images/home/nasdaq.svg", alt: "gitlab customer logo" }
