---
title: Product
suppress_header: true
extra_css:
  - features-v2.css
  - solutions-v2.css
extra_js:
  - features.js
---

.hero-container.flex-container.justify-center.align-center
  .text-center
    %h1.hero-title
      Product
    %p.hero-message
      GitLab provides solutions for all kinds of problems across the software development lifecycle.

- data.solutions.solutions.keys.each do |solution|
  = partial "includes/solutions/solution-item", locals: { solution: "#{solution}" }

.gitlab-cta-container.text-center.animated
  .container
    %h1
      Choose the version of GitLab that is best for you
    %h4
      Host GitLab on your servers or let us host it for you
    %a.btn.cta-btn.red.hidden-sm.hidden-xs{href: "/products"}
      Explore our products
    %a.btn.cta-btn.red.visible-sm.visible-xs{href: "/products"}
      Explore
