---
layout: default
title: Community
description: Explore the GitLab Community and learn about events in your area, top contributors, project documentation, and more.
suppress_header: true
extra_css:
  - community.css
---

.simple-header
  %h1 Community
.community-content
  .flex-container.community-content-row
    %a.community-item{href: "/events/"}
      %img{src: "/images/community/community-events.svg"}
      .community-item-info
        %h1 Events
        %p On the road again: follow the Gitlab event circuit.
    %a.community-item{href: "/core-team/"}
      %img{src: "/images/downloads/logo.svg"}
      .community-item-info
        %h1 Core team
        %p People behind the open-source project.
    %a.community-item{href: "http://contributors.gitlab.com"}
      %img{src: "/images/community/community-contributors.svg"}
      .community-item-info
        %h1 Contributors
        %p Contributors to the open-source project.
  .flex-container.community-content-row
    %a.community-item{href: "/documentation/"}
      %img{src: "/images/community/community-docs.svg"}
      .community-item-info
        %h1 Documentation
        %p All GitLab projects in one place.
    %a.community-item{href: "/getting-help/"}
      %img{src: "/images/community/community-help.svg"}
      .community-item-info
        %h1 Getting Help
        %p How to get help and stay informed.
    %a.community-item{href: "/contributing/"}
      %img{src: "/images/community/community-contributing.svg"}
      .community-item-info
        %h1 Contributing
        %p Information on how to contribute to the projects.
  .flex-container.community-content-row
    %a.community-item{href: "/applications/"}
      %img{src: "/images/community/community-apps.svg"}
      .community-item-info
        %h1 Apps
        %p List of applications which support GitLab.
    %a.community-item{href: "/mvp/"}
      %img{src: "/images/community/community-hof.svg"}
      .community-item-info
        %h1 Hall of Fame
        %p The most valuable persons in past releases.
    %a.community-item{href: "/community/issue-bash/"}
      %img{src: "/images/community/community-bash.svg"}
      .community-item-info
        %h1 Issue Bash
        %p Quarterly Community Event.

-# .community.wrapper
-#   .container
-#     .row
-#       .col-sm-6.col-md-4
-#         %a{href: "/events/"}
-#           = image_tag "/images/icons/location.png", alt: "GitLab Events", id: "events"
-#           %h2 Events
-#           %p
-#             On the road again: follow the GitLab event circuit
-#       .col-sm-6.col-md-4
-#         %a{href: "/core-team"}
-#           = image_tag "/images/icons/team.png", alt: "Core Team", id: "core-team"
-#           %h2 Core Team
-#           %p People behind the open-source project.
-#       .col-sm-6.col-md-4
-#         %a{href: "http://contributors.gitlab.com/"}
-#           = image_tag "/images/icons/development.png", alt: "Contributors", id: "contributors"
-#           %h2 Contributors
-#           %p Contributors to the open-source project.
-#       .col-sm-6.col-md-4
-#         %a{href: "/documentation"}
-#           = image_tag "/images/icons/documentation.png", alt: "Documentation", id: "documentation"
-#           %h2 Documentation
-#           %p All GitLab projects in one place.
-#       .col-sm-6.col-md-4
-#         %a{href: "/getting-help"}
-#           = image_tag "/images/icons/help.png", alt: "Getting help", id: "help"
-#           %h2 Getting Help
-#           %p How to get help and stay informed.
-#       .col-sm-6.col-md-4
-#         %a{href: "/contributing"}
-#           = image_tag "/images/icons/contributing.png", alt: "Contributing", id: "contributing"
-#           %h2 Contributing
-#           %p Information on how to contribute to the projects.
-#       .col-sm-6.col-md-4
-#         %a{href: "/applications"}
-#           = image_tag "/images/icons/apps.png", alt: "Applications", id: "applications"
-#           %h2 Applications
-#           %p List of applications which support GitLab.
-#       .col-sm-6.col-md-4
-#         %a{href: "/mvp"}
-#           = image_tag "/images/icons/mvp.png", alt: "Hall of fame", id: "mvp"
-#           %h2 Hall of Fame
-#           %p The most valuable persons in past releases.
-#       .col-sm-6.col-md-4
-#         %a{href: "/community/issue-bash"}
-#           = image_tag "/images/icons/issue_bash.png", alt: "Issue Bash", id: "issue-bash"
-#           %h2 Issue Bash
-#           %p Quarterly Community Event.
-#       .clearfix.visible-sm-block
